.aboutTitle {
    color: black;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
}
.aboutTxt {
    text-align: left;
    padding-left: 5%;
    padding-bottom: 1%;
}
.aboutUs {
    height: 20%;
    width: 84%;
    position: relative;
    margin-top: 3%;
    margin-left: 8%;
    margin-bottom: 3%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 2px 4px darkslategray;
    
}

.container {
    display: flex;
    align-items: center;
}

.photo {
    height: 20%;
    width: 20%;
    padding-right: 2%;
    padding: 2%;
    border-radius: 25px;
    
}

