.Footer {
    background-color: black;
}

img {
    height: 4%;
    width: 4%;
    padding-top: 1%;
    display: fixed;
    align-items: left;
    
}

.buttons {
    background-color: lightgray;
    color: white;
    border-radius: 50%;
    padding: 0; /* Changed from 5px to 0 */
    font-size: 14px; /* Adjusted font size */
    height: 40px; /* Increased size to fit text */
    width: 40px; /* Increased size to fit text */
    box-shadow: 0 2px 4px darkslategray;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.pics {
    width: 20px;
    height: 20px;
    object-fit: contain;
    
}